<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.artfulbits.benchmark.test"
          tools:ignore="GradleOverrides">

    <!--suppress AndroidDomInspection -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.artfulbits.benchmark.test"/>

    <application
        android:label="Meter Library, Tests">
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>